.banner-principal-decorativo
  &-1
    position: absolute
    top: 14%
    right: 13%
    align-self: stretch
    background-position: 30% 80%, 50% 50%
    background-repeat: no-repeat, no-repeat
    animation-name: cambiar
    animation-duration: 2s
    animation-iteration-count: infinite
    animation-play-state: running
    animation-timing-function: steps(1, end)
    img
      opacity: 0%
    @keyframes cambiar
      0%
        background-image: url("../assets/curso/portada/1.png")
      50%
        background-image: url("../assets/curso/portada/2.png")
      

  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 28%
    right: 75%


@keyframes float1
  0%
    transform: translateX(20px)

  100%
    transform: translateX(0px)


//Introdución

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: black 
    
//Tema1

.bg_grad-01
  position: relative
  .tarjeta, .row, .titulo-segundo, p, ImagenInfografica,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -0rem
    top: 40px
    left: 0
    width: calc( 100% + 0rem)
    height: 90%
    background: linear-gradient(to right,#FFFFFF,#F4F4F4)
    background-repeat: no-repeat
    @media screen and ( max-width: 999px )
      content: ''
      position: absolute
      margin: 0 -3rem
      top: 80px
      left: 0
      width: calc( 100% + 6rem)
      height: 90%
      background: linear-gradient(to bottom,#FFFFFF,#F4F4F4)
      background-repeat: no-repeat

.color-1
  background-color: #F9F7EC

.bgr
  background-color: #E6F1FF
  max-width: 600px !important
  &_2
    background-image: url(../assets/curso/tema2/fonflip1.svg) !important
    height: 430px !important
  &_3
    background-color: #EBF2FF !important
    height: 430px !important
  &_4
    background-image: url(../assets/curso/tema2/fonflip2.svg) !important
    height: 430px !important
  &_5
    background-color: #F2FDF2 !important
    height: 430px !important

//Tema2

.tarjeta-flip.tarjeta .tarjeta-flip__img, .tarjeta-flip.tarjeta .tarjeta-flip__contenido
  border-radius: 0px
  overflow: hidden

.tabs-a__tab
  background-color: #D5DFE8

.back-tab
  background-color: #D9E6FF
  border-radius: 10px

//tema3

.tarjeta-numerada 
  background-image: url(../assets/curso/tema3/fond.svg) !important
  height: 305px !important
  border-radius: 0px
  @media screen and ( max-width: 999px )
    background-image: url(../assets/curso/tema3/fond.svg) !important
    height: auto !important
    border-radius: 0px
    background-repeat: cover

.camb_color
  .tarjeta-numerada  
    background-image: url(../assets/curso/tema3/fond1.svg) !important
    height: 305px !important
    border-radius: 0px
    @media screen and ( max-width: 999px )
      background-image: url(../assets/curso/tema3/fond1.svg) !important
      height: auto !important
      border-radius: 0px
      background-repeat: cover
  
.tarjeta-numerada__contenido
  display: none
  transition: margin-left 4s ease-in-out 2s;
.tarjeta-numerada:hover .tarjeta-numerada__numero
  left: 50%
  top: -6%  
.tarjeta-numerada:hover .tarjeta-numerada__contenido
  display: inherit 
.tarjeta-numerada 
  border: 0
.tarjeta-numerada:hover
  background-image: url(../assets/curso/tema3/fond1.svg) !important
  height: 303px !important
  border-radius: 0px
  @media screen and ( max-width: 999px )
      background-image: url(../assets/curso/tema3/fond1.svg) !important
      height: auto !important
      border-radius: 0px
      background-repeat: cover

.tarjeta-avatar > img 
  position: absolute
  left: 50%
  top: 5px
  transform: translateX(-50%);
  display: block
  width: 100px
  margin: 0 auto
  z-index: 999


.color-2
  background-image: url(../assets/curso/tema3/fond.svg) !important
  height: 305px !important
  border-radius: 0px

.color-3
  background-image: url(../assets/curso/tema3/fond.svg) !important
  height: 305px !important
  border-radius: 0px

.tarjeta-avatar > img 
  position: absolute
  left: 50%
  top: -20px
  transform: translateX(-50%)
  display: block
  width: 150px
  margin: 0 auto

.tarjeta-avatar .tarjeta 
  display: inline-block;
  padding-top: 100px !important
  height: 100%

//Tema4

.bg_grad-02
  position: relative
  .tarjeta, .row, .titulo-segundo, p, ImagenInfografica,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -0rem
    top: 40px
    left: 0
    width: calc( 100% + 0rem)
    height: 90%
    background: linear-gradient(to right,#F4F4F4,#FFFFFF)
    background-repeat: no-repeat
    @media screen and ( max-width: 420px )
      content: ''
      position: absolute
      margin: 0 -0rem
      top: -20px
      left: 0
      width: calc( 100% + 0rem)
      height: 90%
      background: linear-gradient(to bottom,#F4F4F4,#FFFFFF)
      background-repeat: no-repeat

.linea-tiempo-1
  .linea-tiempo-d__item--selected
    .linea-tiempo-d__item__number
      background-color: #B8DEB7
    .linea-tiempo-d__item__content
      background-color: #E6F3E5

.fondo-slyder
  background-image: url('../assets/curso/tema4/fondo_slyder.svg')
  background-size: cover
  background-repeat: no-repeat
  padding: 2rem

.slyder-a__tipo-a .slyder-a__bullets 
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  width: 35px
  height: 35px
  background-color: #FFAB1D
  border-radius: 50%
  background-image: url(../assets/curso/tema4/bi.svg)
  background-repeat: no-repeat
  background-size: 20px 20px
  background-position: center
  border: 1px solid #FFAB1D
  border-top-color: #FFAB1D
  border-right-color: #FFAB1D
  border-bottom-color: #FFAB1D
  border-left-color: #FFAB1D
  top: 99%
  z-index: 10000
  opacity: 0.7
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.3)
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out
  cursor: pointer

.slyder-a__btn--atrs 
  width: 35px
  height: 35px
  background-color: #FFAB1D
  border-radius: 50%
  background-image: url(../assets/curso/tema4/bi.svg)
  background-repeat: no-repeat
  background-size: 20px 20px
  background-position: center
  border: 1px solid #FFAB1D
  border-top-color: rgb(255, 255, 255)
  border-right-color: rgb(255, 255, 255)
  border-bottom-color: rgb(255, 255, 255)
  border-left-color: rgb(255, 255, 255)
  top: 99%
  z-index: 10000
  opacity: 0.7
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.3)
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out
  cursor: pointer

.slyder-a__tipo-a .slyder-a__btn--atrs 
  transform: translateY(-50%) rotate(180deg)
  left: 15px
.slyder-a__tipo-a .slyder-a__btn--sigt 
  transform: translateY(-50%) rotate(1deg)
  right: 15px
.slyder-a__bullets__item--active 
  background-color: #00CAF2
  border-color: #00CAF2
  opacity: 1

.slyder-a__bullets__item 
  width: 13px;
  height: 13px;

.modal-a__content 
  position: fixed
  top: 80%
  left: 50%
  background-color: #ffffff
  width: 90%
  max-width: 1300px
  max-height: 100vh
  overflow-y: auto
  z-index: 110001
  border-radius: 20px
  transform: translate(-50%, -50%) scale(0)
  transition: transform 0.3s ease-in-out

.crd
  position: relative
  padding: 20px
  &.crd--gray
    background-image: url(../assets/curso/tema5/fond.png) !important
    height: 452px !important
    background-repeat: no-repeat 
  &.crd--brad
    border-radius: 15px
  &.crd--hoverBlue
    height: 100%
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1)
    &:hover
      background-image: url(../assets/curso/tema5/fond2.png) !important
      height: 452px !important
      background-repeat: no-repeat 
      h4, p
        color: white
  &.crd--shadow
    box-shadow: 10px 10px 10px #0000001f, 5px 8px 5px #00000015

.color-4
  background-color: #DEE9FF
  height: 265px
  @media screen and ( max-width: 1400px )
    background-color: #DEE9FF
    height: 265px
  @media screen and ( max-width: 1400px )
    background-color: #DEE9FF
    height: 320px
  @media screen and ( max-width: 999px )
    background-color: #DEE9FF
    height: auto


.tarjeta.tarjeta-azul
  background-color: #E4F3E4

.acordion__accion__btn--a
  background-color: #ffffff !important

.acordion__activo
  background-color: #C1E2C0!important

.color-a
  background-color: #B9F0FB

.bg_grad-05
  position: relative
  .row, p, .titulo-segundo, SlyderF, .tarjeta,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem 
    top: 360px
    left: 0px
    width: calc( 100% + 6rem)
    height: 80%
    background-image: url("../assets/curso/temas/fond.jpg")
    background-repeat: no-repeat
    @media screen and ( max-width: 1400px )
      content: ''
      position: absolute
      margin: 0 -3rem
      top: 17em
      left: 0px
      width: calc( 100% + 6rem)
      height: 80%
      background-image: url("../assets/curso/temas/fond.jpg")
      background-repeat: no-repeat
    @media screen and ( max-width: 999px )
      content: ''
      position: absolute
      margin: 0 -3rem
      top: 40em
      left: 0px
      width: calc( 100% + 6rem)
      height: 60%
      background-image: url("../assets/curso/temas/fond.jpg")
      background-repeat: no-repeat

.color-adicional-5
  background-color: #FFFFFF
  border-radius: 20px
  box-shadow: -2px 4px 15px #0000001b
  height: 220px


.alinear-nemero
  float: right
  height: 71px
  width: auto
  @media screen and ( max-width: 999px )
    float: right
    height: 41px
    width: auto
.pa
  padding-top: 50px
  @media screen and ( max-width: 999px )
    padding-top: 0px

.bg_grad-06
  position: relative
  .row, p, .titulo-segundo, SlyderF, .tarjeta,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem 
    top: 0px
    left: 0px
    width: calc( 100% + 6rem)
    height: 1420px
    background-image: url("../assets/curso/tema5/fondo.jpg")
    background-repeat: no-repeat
    @media screen and ( max-width: 420px )
      content: ''
      position: absolute
      margin: 0 -3rem
      top: 100px
      left: 0px
      width: calc( 100% + 6rem)
      height: 60%
      background-image: url("../assets/curso/tema5/fondo.jpg")
      background-repeat: no-repeat

.bg_grad-07
  position: relative
  .row, p, .titulo-segundo, SlyderF, .tarjeta,
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem 
    top: -50px
    left: 0px
    width: calc( 100% + 6rem)
    height: 1420px
    background-image: url("../assets/curso/tema4/fond.jpg")
    background-repeat: no-repeat
    @media screen and ( max-width: 420px )
      content: ''
      position: absolute
      margin: 0 -3rem
      top: -20px
      left: 0px
      width: calc( 100% + 6rem)
      height: 100%
      background-image: url("../assets/curso/tema4/fond.jpg")
      background-repeat: no-repeat

.paleYellow
  background-color: #F9F7EC

.cajon
  width: 715px
  z-index: 1
  @media screen and ( max-width: 1400px )
    width: 710px
    z-index: 1
  @media screen and ( max-width: 1200px )
    width: 510px
    z-index: 1
  @media screen and ( max-width: 999px )
    width: auto
    z-index: 1

.z-image
  z-index: 0